* {
    outline: 0 !important;
    box-shadow: none !important;
}
::selection {
    color: white;
    background: #d10000;
  }
body {
    background-color: #f0f0f0;
    font-family: 'Lora', serif;
    font-weight: 400;
}
main {
    display: none!important;
}

/* Buttons */
.btn {
    min-width: 120px;
}
.btn-outline-secondary {
    color: #140004;
    border-color: #140004;
}
.btn-outline-secondary:hover {
    color: white;
    background-color: #d10000;
    border-color: #d10000;
}
.btn-primary {
    color: white;
    background-color: #140004;
    border-color: #140004;
}
.btn-primary:hover {
    color: white;
    background-color: #d10000;
    border-color: #d10000;
}

/* Header */
.header {
    background-color: white;
}
.header .container {
    height: 80px;
}

/* Main */
.main {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #140004;
}
.main h1 {
    font-size: 72px;
}
.main i {
    color: #d10000;
    font-size: 32px;
}
.main p {
    font-size: 16px;
    text-align: justify;
}

/* Footer */
.footer {
    background-color: #140004;
    height: 48px;
    color: white;
}
.footer ul {
    margin: 0 auto;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    margin: 0 4px;
}

/* Modal */
.modal-dialog {
    max-width: 800px;
}
.modal-body p {
    text-align: justify;
}
.modal-body ul li i {
    font-size: 24px;
}
b {
    font-weight: 600;
}
/* Canvas */
canvas {
    margin-bottom: 1.5rem!important;
}